@media screen and (min-width: 200px) and (max-width: 500px){
    .coloane {
        flex-direction: column !important;
        align-items: center !important;

        & .flex_container {
            height: 100px !important;
            a {
                border-radius: 20px !important;
            }
            padding-bottom: 100px;
        }

        #iframe {
            padding-top: 0px !important;
            max-width: 300px !important;
            height: 300px !important;
           }
        }
        
 }
@media screen and (max-width:768px) {
    .banner {
        display: none;
    }
    .menu-btn {
        display:block !important;
        margin-right: 1.5rem;
    }

    .title-section{
        font-size: 1.5rem;
    }

    p {
        font-size: 16px !important;
    }

    address {
        font-size: 16px !important;
    }

    .credentials {
        font-size: 16px !important;
    }

    #toggle:checked{
        ~.menu-nav {
            display:flex !important;
            // a { 
            //     letter-spacing: 2px !important;
            // }
            a {
                text-shadow: 0px 0px rgba(255,255,255, 0);
                letter-spacing: 0px;
                animation-name: mymove;
                animation-duration: 700ms;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
            }
            @keyframes mymove {
                100% {letter-spacing: 2px;}
            }
        }
    }
    .nav {
        flex-direction: column;
        justify-content: center;
    }
    .menu-nav {
        display:none !important;
        flex-direction: column !important;
        flex-wrap: nowrap;
        position: absolute;
        align-items: center;
        top: 100%;
        left: 10%;
        width:80%;
        // align-items: flex-start;
        // justify-content: center;
        // list-style-type: none;
        &__item {
            margin-left: 0px !important;
            margin-right: 0px !important;
            width: 100%;
            text-align: center;

            &:hover {
                & .__link {
                    a {
                        transition: none;
                    }
                } 
            }
        }
        &__link {
            background-color: $albastru1;
            text-align: center;
            display: flex;
            justify-content: center;
            padding-top: 5px;
            padding-bottom: 5px;
            @include transition-ease;
            &:hover {
                background-color: $albastru3;
                a {
                    transition: none;
                }
            }
        }

        .sub-menu {
            z-index: 1;
            width: 100%;
        }

        @include transition-ease; 
    }

    


    .sectiunea5 {
        grid-column: 1 / -1 !important;
    }
    .sectiunea6 {
        grid-column: 1 / -1 !important;
    }
    .sectiunea7 {
        grid-column: 1 / -1 !important;
    }
    .sectiunea3 {
        grid-column: 1 / -1 !important;
    }
    .sectiunea4 {
        grid-column: 1 / -1 !important;
    }
    .sectiunea2 {
        grid-column: 1/-1 !important;
        grid-row: span 2;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .banner {
        display: none;
    }
    
    p {
        font-size: 16px;
    }

    .sectiunea5 {
        grid-column: 1 / 3 !important;
    }
    .sectiunea6 {
        grid-column: 3 / -1 !important;
    }
    .sectiunea7 {
        grid-column: 3 / -1 !important;
    }
    .sectiunea3 {
        grid-column: 1 / 3 !important;
    }

}