<!DOCTYPE html>
<html>
    <%- include ("../fragmente/head") -%>
    <body>
        <section class="sectiuneaeroare" id="sebimed">
            <!-- <h2 class="sectiuneaeroare__description">Centrul Medical</h2> -->
            <h1><span class="sectiuneaeroare__name">Eroare 404</span></h1>
            <h2 class="sectiuneaeroare__description">Pagina nu a fost gasita.</h2>
        </section>

        <%- include ("../fragmente/header") -%>
        <%- include ("../fragmente/footer") -%>

        <div class="banner">
            <p>Acesta este un proiect scolar</p>
        </div>
        <script src="https://kit.fontawesome.com/1fce009929.js" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>