<!DOCTYPE html>
<html>
    <%- include ("../fragmente/head") -%>
    <body>
        
        <%- include ("../fragmente/header") -%>

        <div class="spatiu-gol">
            
        </div>

        <section class="galerie-statica">
            
        </section>
        <%- include ("../fragmente/footer") -%>

        <div class="banner">
            <p>Acesta este un proiect scolar</p>
        </div>
        <script src="https://kit.fontawesome.com/1fce009929.js" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>