<footer class="footer">
    <address id="contact">
        Contact<br>
        Sediu: <strong>BUCURESTI - PIATA VICTORIEI NR 24</strong> <br>
        Orar: <strong>LUNI-VINERI 07.00 – 17.00, SAMBATA 08.00 – 13.00</strong> <br>
        Numar de telefon: <a href="tel:+40212757575">0212 75 75 75</a> <br>
        Email: <a href="mailto:sebimed@sebimedbucuresti.ro">sebimed@sebimedbucuresti.ro</a>
    </address>
    <abbr title = "Hai sus!">
        <a href="" class="buton_top">
            <div class="triunghi">
            </div>
        </a>
        </abbr>
    <div class="credentials">
    <small>&copy; Sebastian Ionel <time datetime="2001-03-07">7 Martie 2001</time> <strong>sebimedbucuresti.ro</strong></small>
    </div>
</footer>