<div class="spatiu-gol">
</div>
<div id="galerie2" class="galerie">
    <div class="grid_3col">
        <% for (let imag of imagini) { %>
            <figure>
                <picture>
                    <img src="/<%-imag.mare%>"  alt="text">
                </picture>
                <figcaption>
                    <%-imag.descriere%>
                </figcaption>
            </figure>
        <% } %>
      <!-- <figure>
        <img src="imagini_galerie/cladire-colorata-mic.jpg" alt="cladire colorata" />
        <figcaption>Cladire colorata</figcaption>
      </figure>
      <figure>
        <img src="imagini_galerie/lampioane-mic.jpg" alt="lampioane" />
        <figcaption>Lampioane</figcaption>
      </figure>
      <figure>
        <img src="imagini_galerie/gradinita-mic.jpg" alt="gradinita" />
        <figcaption>Gradinita</figcaption>
      </figure>
      <figure>
        <img src="imagini_galerie/peisaj-mic.jpg" alt="peisaj" />
        <figcaption>Peisaj</figcaption>
      </figure>
      <figure>
        <img src="imagini_galerie/piateta-mic.jpg" alt="piateta" />
        <figcaption>Piateta</figcaption>
      </figure>
      <figure>
        <img src="imagini_galerie/pietre-mic.jpg" alt="pietre" />
        <figcaption>Pietre</figcaption>
      </figure> -->
    </div>
  </div>