<header id="beginning">
    <nav class="nav">
    <h1 class="menu-title">SebiMED</h1>
    <label for="toggle">
        <div class="menu-btn">
            <span class="menu-btn__burger">
            </span>
        </div>
    </label>
    <input type="checkbox" id="toggle" class="visually-hidden">
        
        <ul class="menu-nav">
            
            <li class="menu-nav__item">
                <!-- ELEMENTUL ACASA -->
                <div class="menu-nav__link"><a href="/">Acasa</a></div>
                <ul class ="sub-menu">
                    <li><a href="/#sebimed">SebiMED</a></li>
                    <li><a href="/#despre">Despre</a></li>
                    <li><a href="/#laborator">Laborator</a></li>
                    <li><a href="/#departamente">Departamente</a></li>
                    <li><a href="/#detalii">Detalii</a></li>
                    <li><a href="/#contact">Contact</a></li>
                </ul>
            </li>
            <li class="menu-nav__item">
                <!-- ELEMENTUL INVESTIGATII -->
                <div class="menu-nav__link"><a href="/investigatii">Investigatii</a></div>
                <ul class ="sub-menu">
                    <li><a href="/investigatii/categorie/HEMATOLOGIE" target="_blank">Hematologie</a></li>
                    <li><a href="/investigatii/categorie/BIOCHIMIE" target="_blank">Biochimie</a></li>
                    <li><a href="/investigatii/categorie/HORMONI" target="_blank">Hormoni</a></li>
                    <li><a href="/investigatii/categorie/IMUNOLOGIE" target="_blank">Imunologie</a></li>
                    <li><a href="/investigatii/categorie/BACTERIOLOGIE" target="_blank">Bacteriologie</a></li>
                </ul>
            </li>
            <li class="menu-nav__item">
                <!-- ELEMENTUL DEPARTAMENTE -->
                <div class="menu-nav__link"><a href="/departamente">Departamente</a></div>
                <ul class ="sub-menu">
                    <li><a href="/departamente/#">Clinic</a></li>
                    <li><a href="/departamente/#">Imagistica medicala</a></li>
                    <li><a href="/departamente/#">Medicina muncii</a></li>
                    <li><a href="/departamente/#">Avize medicale</a></li>
                    <li><a href="/departamente/#">Biosecuritate</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>