<!-- MAIN PAGINA PRINCIPALA -->
<main>
    <!-- SECTIUNEA DE INCEPUT -->
    <section class="sectiunea1" id="sebimed">
        <h2 class="sectiunea1__description">Centrul Medical</h2>
        <h1><span class="sectiunea1__name">SebiMED</span></h1>
        <h2 class="sectiunea1__description">Investigatii de laborator</h2>
    </section>
    <br>
    <div class="container">
        <section class="sectiunea5" id="despre">
            <div class="top-section">
                <i class="fas fa-book-reader"></i>
                <h3 class="title-section">Clienti</h3>
            </div>
            <!-- <p>Infiintata in anul 2002, in Bucuresti, compania SebiMED a pornit cu <strong>un singur laborator </strong>
                de <b>analize medicale</b> si 3 angajati, iar in 2004, dupa numai doi ani, 
                a venit mai aproape de pacientii din Bucuresti, prin deschiderea Centrului Medical din
                Piata Revolutiei nr.24.</p> -->
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Eos dolor quisquam blanditiis dolorem, laudantium iste animi totam commodi aut modi, 
                sapiente optio, aspernatur sed itaque tenetur. Alias unde perspiciatis ullam?
            </p>
        </section>

            <!-- SECTIUNEA DE LABORATOR -->
        <section class="sectiunea6" id="laborator">
            <div class="top-section">
                <i class="fas fa-book-medical"></i>
                <h3 class="title-section">Despre noi</h3>
            </div>
            
            <p>Infiintata in anul 2002, in Bucuresti, compania SebiMED a pornit cu <strong>un singur laborator </strong>
                de <b>analize medicale</b> si 3 angajati, iar in 2004, dupa numai doi ani, 
                a venit mai aproape de pacientii din Bucuresti, prin deschiderea Centrului Medical din
                Piata Revolutiei nr.24.</p>
                <div class="hr-custom">
                    
                    <hr>
                </div>
                <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Voluptatibus placeat reiciendis dicta aut repellat esse, inventore aliquid itaque iste officia, 
                officiis quas numquam amet, aspernatur dolor in omnis labore rerum?
            <a href="#">Detalii</a>   
        </section>

            <!-- SECTIUNEA DEPARTAMENTE -->
        <section class="sectiunea7" id="departamente">
            <div class="top-section">
                <i class="fas fa-eye-dropper"></i>
                <h3 class="title-section">Laborator</h3>
            </div>
            
            <p><b>Laboratorul Centrului Medical Sebimed</b> a devenit in 2001, primul laborator acreditat <em>RENAR</em>, din judetul Ilfov, si printre 
                <strong>primele laboratoare acreditate din Romania</strong>, ca o recunoastere a calitatii deosebite a anlizelor de laborator.</p>
           <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Et natus maxime voluptate quos porro vitae optio, vel numquam eum unde a molestias.
           </p>
        </section>

        <section class="sectiunea3">
            <div class="top-section">
                <i class="far fa-calendar"></i>
                <h3 class="title-section">
                    Calendar:
                </h3>
            </div>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A tempora odio ad facere excepturi, asperiores rem alias at cum tenetur ipsum temporibus provident voluptatibus quas libero iure commodi veniam culpa.
            </p>
        </section>

        <section class="sectiunea4">
            <div class="top-section">
                <i class="far fa-building"></i>
                <h3 class="title-section">
                    Departamente
                </h3>
            </div>
            
            <p>Categorii de departamente:</p>
            <p>Aici aveti doar 3, din cele 7 <b>departamente</b> existente. Daca doriti lista completa,
                puteti accesa din meniu sau <a href="">puteti apasa aici</a>.
            </p> 
            <ol class="lista_ord">
                <li><a href="#">Laborator</a></li>
                <li><a href="#">Clinic</a></li>
                <li><a href="#">Imagistica medicala</a></li>
            </ol>
        </section>

        <section class="sectiunea2">
           <div class="top-section">
                <i class="fas fa-clipboard-list fa-spin fa-2x"></i>
                <h3 class="title-section">
                    Orar
                </h3>
           </div>
            <div class="overflow">
                <table class="table">
                    <thead>
                        <tr class="table__header">
                            <th></th>
                            <th>Zi</th>
                            <th>Program</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <td data-th="Zi">Luni</td>
                            <td data-th="Program">07.00 – 17.00</td>
                          </tr>
                          <tr>
                            <td data-th="Zi">Marti</td>
                            <td data-th="Program">07.00 – 17.00</td>
                          </tr>
                          <tr>
                            <td data-th="Zi">Miercuri</td>
                            <td data-th="Program">07.00 – 17.00</td>
                          </tr>
                          <tr>
                            <td data-th="Zi">Joi</td>
                            <td data-th="Program">07.00 – 17.00</td>
                          </tr>
                          <tr>
                              <td data-th="Zi">Vineri</td>
                              <td data-th="Program">07.00 – 17.00</td>
                          </tr>
                    </tbody>
                  </table>
            </div>
        </section>
    </div>

    <section class="sectiunea8" id="detalii">
        <h2 class="title-section">Detalii</h2>
        <section>
            <div class="coloane">
                <div class="flex_container">
                    <a class="" href="https://www.youtube.com/embed/yKWQ_oLSXI8" target="ifr-video">Citire analize</a>
                    <br>
                    <a class="" href="https://www.youtube.com/embed/giLGLTnqIGY" target="ifr-video">Despre sange</a> <!-- MA UIT LA PRIMELE MINUTE CURS-->
                    <br>
                </div>
                <iframe src="" name="ifr-video" id="iframe">
                </iframe>
            </div>
            
            
            
        </section>

        <section>
            <br>
            <details>
                <summary>
                    Roboti utilizati de laboratoarele noastre
                </summary>

                <iframe  src="https://www.youtube.com/embed/vugOOuq256M" id="iframe"></iframe>

                <iframe 
                height: 388px
                src="https://www.youtube.com/embed/XhvHU99ib0o" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>

            </details>
            
            <!-- SECTIUNEA DETALII #2: Informatii privind pandemia Covid 19 -->
            <!-- <details>
                <summary>
                    Informatii privind pandemia COVID 19
                </summary>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lFjIVIIcCvc"  
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </details> -->
        </section>
    </section>

    

</main>