<div class="videocentru">
    <video controls id="video" poster="assets/seringa.png" class="videoclip" style="width: 800px;">
        <source src="assets/pathology.mp4">
        <track
            default
            src="assets/tracks/english.vtt"
            srclang = "en"
            kind = "subtitles"
            label = "English"
        ></track>
        <track
            default
            src="assets/tracks/romanian.vtt"
            srclang = "ro"
            kind = "subtitles"
            label = "Romanian"
        >
    </video>
</div>